<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.campustradingplatform">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 基本模块（必须）START leanCloud -->

    <!-- 基本模块（必须）START leanCloud -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- //百度地图使用 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyLeanCloudApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Chat.SellerOrderManyActivity"></activity>
        <activity android:name=".Chat.BuyerOrderManyActivity" />
        <activity android:name=".Chat.BaiduMapActivity" />
        <activity android:name=".Chat.PayCheckActivity" />
        <activity android:name=".Chat.ChatDetailActivity" />
        <activity android:name=".MyCenter_mySellGoods" />
        <activity android:name=".Deatil.GoodList">
        </activity>
        <activity android:name=".Deatil.GoodsDetail">
        </activity>
<!--        <activity android:name=".Msg.MsgDetailActivity"></activity>-->
        <activity android:name=".DividedActivity" />
        <activity android:name=".PublishOk" />
        <activity
            android:name=".Login.PhoneNumLogin"
            android:launchMode="singleTask" />
        <activity
            android:name=".Login.Register2"
            android:launchMode="singleTask" />
        <activity
            android:name=".Login.Register1"
            android:launchMode="singleTask" />
        <activity
            android:name=".Login.Login"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyCenterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PublishActivity" />
        <activity
            android:name=".PublishOk"
            tools:ignore="DuplicateActivity" /> <!-- 即时通讯和推送 START -->
        <!-- 即时通讯和推送都需要 PushService -->
        <service android:name="cn.leancloud.push.PushService" />

        <receiver android:name="cn.leancloud.push.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="0BKnoUoHE4vjD8bWintajAboMd1SDPxx" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>